.left{
    position: -webkit-sticky;
    position: sticky;
    top: 1rem!important;
    z-index: 1020;
    height:95vh;
}

.name h4{
    font-family: consolas;
    line-height: 2.5rem;
}

  
a.nav-link,a.nav-link:hover, a.nav-link:visited, a.nav-link:focus {
    text-decoration-line: underline;
    text-decoration-style: dotted ;
    color:#ffffff;
    
  }