@font-face {
  font-family: 'Gothic A1';
  src: local('Gothic A1'), url(./assets/fonts/GothicA1-Regular.ttf);
}
@font-face {
  font-family: 'Gothic Bold';
  src: local('Gothic Bold'), url(./assets/fonts/GothicA1-Bold.ttf);
}

html, body{
  margin:0;
  padding:0;
  background-color: #151515;
  font-family: 'Gothic A1';
}
h1,h2,h3,h4,h5{
  font-family: 'Gothic Bold';

}

.app{
  color:#fff;
}

a, a:hover, a:visited, a:focus {
  color:#ffffff;
  text-decoration: none;
}

p{
  color:#949495;
  line-height: 2;
}
.w-40{
  width: 40%!important;
}
.w-60{
  width: 60%!important;
}
.social-links li a{
padding: 0 1rem 0 0;
}