@tailwind base;

@tailwind components;

@tailwind utilities;

html, body{
  margin:0;
  padding:0;
  background-color: #151515;
}

.app{
  color:#fff;
}

.w-40{
  width: 40%!important;
}
.w-60{
  width: 60%!important;
}